.banner {
  background-image: url("https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.heading {
  text-align: center;
  padding-top: 50px;
}

.heading p {
  font-size: 18px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.box {
  width: 200px;
  height: 200px;
  background-color: white;
  text-align: center;
  position: relative;

  background-color: rgba(255, 72, 0, 0.677);

  border: 1px solid black;
}
.box .img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
  width: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.box-text {
  margin-top: 120px;
  color: white;
}
